##  온라인 학습활동 과제 7. pandas 연습

### 빅데이터전공 20175327 이연희

### <문제>  
첨부된 파일(physicalFitness.csv)을 이용하여 아래 문제를 해결하여 "pandas응용_성명.ipynb" 파일로 제출하세요.

### 1. physicalFitness문제

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

### (1)ageGroup(1-9),sex(1,2),height,weight,BMI,bodyFat으로 구성된 파일 (physicalFitness.csv)를 읽고 데이터프레임 만들기

In [2]:
df=pd.read_csv("physicalFitness.csv")

display(df)

      ageGroup  sex  height  weight   BMI  bodyFat
0            1    1   158.0    45.0  18.0      8.1
1            1    1   158.1    53.4  21.4      7.0
2            1    1   160.0    58.0  22.7      8.3
3            1    1   160.0    66.0  25.8     18.6
4            1    1   161.0    76.0  29.3     21.3
5            1    1   161.0    78.0  30.1     22.6
6            1    1   162.2    47.0  17.9      3.9
7            1    1   162.2    71.0  27.0     16.5
8            1    1   163.0    76.3  28.7     22.4
9            1    1   163.0    79.0  29.7     23.1
10           1    1   163.1    67.1  25.2     14.6
11           1    1   164.2    62.8  23.3     23.8
12           1    1   164.5    66.8  24.7     11.5
13           1    1   165.0    57.0  20.9      6.0
14           1    1   165.0    57.0  20.9      8.9
15           1    1   165.0    57.2  21.0      9.0
16           1    1   165.0    66.0  24.2     15.0
17           1    1   165.0    75.0  27.5     19.2
18           1    1   165.0    77.0  28.3     19.7
19           1    1   165.5    75.9  27.7     23.7
20           1    1   166.0    64.0  23.2     13.1
21           1    1   166.0    73.0  26.5     18.3
22           1    1   166.2    73.4  26.6     28.9
23           1    1   166.3    74.8  27.0     20.2
24           1    1   166.5    72.8  26.3     17.7
25           1    1   166.6    71.9  25.9     17.7
26           1    1   166.8    60.1  21.6     13.6
27           1    1   166.8    64.7  23.3     22.4
28           1    1   167.0    61.4  22.0     15.8
29           1    1   167.0    64.0  22.9     11.8
...        ...  ...     ...     ...   ...      ...
4004         9    2   158.0    56.0  22.4     20.4
4005         9    2   158.0    61.0  24.4     19.3
4006         9    2   158.0    63.8  25.6     26.3
4007         9    2   158.1    53.5  21.4     29.4
4008         9    2   158.1    54.9  22.0     24.0
4009         9    2   158.1    63.7  25.5     33.4
4010         9    2   158.1    65.0  26.0     24.0
4011         9    2   158.3    65.0  25.9     22.2
4012         9    2   158.5    54.5  21.7     23.1
4013         9    2   158.6    58.4  23.2     31.8
4014         9    2   159.0    58.0  22.9     17.0
4015         9    2   159.0    66.0  26.1     20.9
4016         9    2   159.0    72.0  28.5     28.0
4017         9    2   159.0    75.0  29.7     26.5
4018         9    2   159.1    53.7  21.2     33.1
4019         9    2   159.1    55.2  21.8     36.4
4020         9    2   159.1    56.6  22.4     27.9
4021         9    2   159.2    56.8  22.4     34.8
4022         9    2   159.7    62.2  24.4     37.2
4023         9    2   160.0    57.0  22.3     22.4
4024         9    2   160.1    56.8  22.2     24.2
4025         9    2   160.5    75.5  29.3     31.0
4026         9    2   161.3    58.6  22.5     30.3
4027         9    2   161.7    64.3  24.6     30.1
4028         9    2   162.0    57.0  21.7     29.7
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1

[4034 rows x 6 columns]

### (2) (1)의 데이터 셋에 대한 데이터 타입들, 요약통계, 상,하위 5개 데이터 확인, 행 레이블, 열레이블 , 크기 확인

In [3]:
print("-------------------- 데이터 타입 확인 --------------------")
display(df.describe())

print("-------------------- 요약 통계 확인 --------------------")
display(df.describe())

print("-------------------- 상위 5개 데이터 확인 --------------------")
display(df.head(5))

print("-------------------- 하위 5개 데이터 확인 --------------------")
display(df.tail(5))

print("-------------------- 행 레이블 확인 --------------------")
display(df.index)

print("-------------------- 열 레이블 확인 --------------------")
display(df.columns)

print("-------------------- 크기 확인 --------------------")
display(df.shape)

-------------------- 데이터 타입 확인 --------------------

,ageGroup,sex,height,weight,BMI,bodyFat
count,4034.000000,4034.000000,4034.000000,4034.000000,4034.000000,4034.000000
mean,4.351264,1.394646,167.695563,66.459569,23.529797,20.341373
std,2.484330,0.488835,8.857008,11.570712,3.003301,6.693839
min,1.000000,1.000000,131.600000,37.500000,14.900000,3.900000
25%,2.000000,1.000000,161.000000,57.600000,21.500000,15.800000
50%,4.000000,1.000000,168.150000,66.100000,23.300000,20.100000
75%,6.000000,2.000000,174.200000,74.200000,25.300000,24.700000
max,9.000000,2.000000,194.700000,122.500000,38.900000,45.600000

-------------------- 요약 통계 확인 --------------------

,ageGroup,sex,height,weight,BMI,bodyFat
count,4034.000000,4034.000000,4034.000000,4034.000000,4034.000000,4034.000000
mean,4.351264,1.394646,167.695563,66.459569,23.529797,20.341373
std,2.484330,0.488835,8.857008,11.570712,3.003301,6.693839
min,1.000000,1.000000,131.600000,37.500000,14.900000,3.900000
25%,2.000000,1.000000,161.000000,57.600000,21.500000,15.800000
50%,4.000000,1.000000,168.150000,66.100000,23.300000,20.100000
75%,6.000000,2.000000,174.200000,74.200000,25.300000,24.700000
max,9.000000,2.000000,194.700000,122.500000,38.900000,45.600000

-------------------- 상위 5개 데이터 확인 --------------------

   ageGroup  sex  height  weight   BMI  bodyFat
0         1    1   158.0    45.0  18.0      8.1
1         1    1   158.1    53.4  21.4      7.0
2         1    1   160.0    58.0  22.7      8.3
3         1    1   160.0    66.0  25.8     18.6
4         1    1   161.0    76.0  29.3     21.3

-------------------- 하위 5개 데이터 확인 --------------------

      ageGroup  sex  height  weight   BMI  bodyFat
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1

-------------------- 행 레이블 확인 --------------------

RangeIndex(start=0, stop=4034, step=1)

-------------------- 열 레이블 확인 --------------------

Index(['ageGroup', 'sex', 'height', 'weight', 'BMI', 'bodyFat'], dtype='object')

-------------------- 크기 확인 --------------------

(4034, 6)

### (3) 키가 큰 순으로 정렬

In [4]:
a=df.sort_values(by="height",ascending=False)
display("---------- 키가 큰 순으로 정렬 ----------",a)

'---------- 키가 큰 순으로 정렬 ----------'

      ageGroup  sex  height  weight   BMI  bodyFat
1009         2    1   194.7    97.7  25.8     17.9
1010         2    1   194.7    97.7  25.8     20.7
1480         3    1   193.1    87.7  23.5     20.7
1479         3    1   192.7    91.7  24.7     19.2
1982         4    1   192.5    75.1  20.3     26.1
458          1    1   192.0    61.0  16.5     12.4
1981         4    1   190.8    95.8  26.3     18.7
457          1    1   190.5    95.2  26.2     21.0
456          1    1   190.4    94.9  26.2      9.3
454          1    1   190.0    80.0  22.2     20.4
455          1    1   190.0    81.8  22.7     20.4
1008         2    1   189.5   119.2  33.2     28.2
453          1    1   189.4    82.7  23.1     17.6
452          1    1   188.6    80.6  22.7     11.5
1980         4    1   188.3    86.2  24.3     20.7
451          1    1   188.0    99.1  28.0     17.2
1007         2    1   188.0    73.3  20.7      7.5
2418         5    1   188.0    70.0  19.8     13.8
450          1    1   188.0    70.7  20.0     13.3
1478         3    1   187.6    86.3  24.5     16.2
1006         2    1   187.5   120.5  34.3     30.5
448          1    1   187.4    81.3  23.2     15.9
449          1    1   187.4    81.6  23.2      8.0
1477         3    1   187.2    77.8  22.2     13.7
2903         6    1   187.0    89.5  25.6     19.1
1978         4    1   187.0    75.0  21.4      9.7
1979         4    1   187.0    80.0  22.9     10.0
447          1    1   187.0    71.9  20.6     16.8
446          1    1   186.7    84.0  24.1     14.4
1476         3    1   186.6    76.0  21.8     14.1
...        ...  ...     ...     ...   ...      ...
1984         4    2   148.1    53.9  24.6     22.7
1983         4    2   148.0    51.0  23.3     31.7
463          1    2   148.0    44.0  20.1     15.8
3681         8    2   148.0    57.4  26.2     32.2
2907         6    2   148.0    58.0  26.5     16.8
462          1    2   148.0    40.0  18.3     17.1
3320         7    2   148.0    46.8  21.4     20.9
1483         3    2   148.0    51.2  23.4     26.1
1482         3    2   148.0    51.2  23.4     23.5
1012         2    2   148.0    39.0  17.8     24.6
461          1    2   147.8    49.4  22.6     23.8
2906         6    2   147.7    40.4  18.5     16.9
3319         7    2   147.6    54.8  25.2     25.8
3318         7    2   147.5    49.7  22.8     24.7
3317         7    2   147.2    55.0  25.4     29.8
2905         6    2   147.0    55.6  25.7     25.7
460          1    2   147.0    47.5  22.0     35.7
3948         9    2   147.0    62.0  28.7     27.0
1011         2    2   147.0    38.1  17.6     19.9
459          1    2   146.6    43.8  20.4     26.9
1481         3    2   146.4    54.3  25.3     29.1
3316         7    2   146.0    50.4  23.6     22.0
3315         7    2   145.9    52.7  24.8     26.6
3680         8    2   145.8    58.6  27.6     40.8
3679         8    2   145.0    52.7  25.1     20.8
3947         9    2   145.0    48.5  23.1     21.6
3946         9    2   143.0    54.6  26.7     30.8
3678         8    2   140.0    43.3  22.1     15.7
3945         9    2   134.0    41.0  22.8     20.3
2904         6    2   131.6    39.4  22.8     31.9

[4034 rows x 6 columns]

### (4) BMI 30이상인 비만자만 ageGroup,height,weight,BMI,bodyFat을 추출하여 파일(obese.csv)로 저장

In [5]:
BMI=df['BMI']>=30
BMI_Print=df[BMI]
#display(BMI_Print)

BMI_30=BMI_Print.loc[:,['ageGroup','height','weight','BMI','bodyFat']]
BMI_30.to_csv("obese.csv",mode='w')

### (5) (4)에서 추출된 데이터셋에서 나이그룹 속성으로 그룹을 분리

In [6]:
Group=BMI_30.groupby('ageGroup')
for name, group in Group:
    display("----------------- 그룹 %d -----------------" %(name))
    display(group)

'----------------- 그룹 1 -----------------'

     ageGroup  height  weight   BMI  bodyFat
5           1   161.0    78.0  30.1     22.6
60          1   168.9    89.0  31.2     29.0
102         1   170.2    90.4  31.2     18.4
103         1   170.2    98.0  33.8     20.8
143         1   171.7    97.5  33.1     23.4
193         1   173.0    95.0  31.7     31.0
211         1   173.9    91.5  30.3     37.3
263         1   175.5   100.6  32.7     26.3
283         1   176.1    98.2  31.7     30.4
308         1   177.0    98.0  31.3     25.4
310         1   177.2    98.2  31.3     22.1
334         1   178.0    96.5  30.5     24.7
392         1   181.2    98.5  30.0     24.7
407         1   182.2   122.5  36.9     21.2
689         1   166.7    88.3  31.8     32.3

'----------------- 그룹 2 -----------------'

      ageGroup  height  weight   BMI  bodyFat
757          2   167.1    85.7  30.7     22.9
824          2   172.4    99.2  33.4     26.1
827          2   172.8    91.5  30.6     26.6
930          2   178.4   101.0  31.7     29.3
977          2   181.2   101.5  30.9     20.4
995          2   184.3   109.5  32.2     31.2
1006         2   187.5   120.5  34.3     30.5
1008         2   189.5   119.2  33.2     28.2
1102         2   162.9    91.0  34.3     37.1
1118         2   165.4    88.3  32.3     35.5

'----------------- 그룹 3 -----------------'

      ageGroup  height  weight   BMI  bodyFat
1153         3   151.6    74.1  32.2     16.7
1154         3   151.6    89.5  38.9     26.0
1155         3   152.0    86.0  37.2     13.2
1156         3   152.1    74.9  32.4     17.9
1160         3   156.5    93.7  38.3     19.8
1161         3   157.4    78.4  31.6     17.6
1164         3   159.3    79.2  31.2     17.6
1165         3   159.9    80.1  31.3     16.5
1166         3   160.4    87.8  34.1     20.6
1170         3   161.9    98.1  37.4     25.0
1172         3   162.6    81.0  30.6     30.3
1178         3   165.6    88.3  32.2     18.6
1203         3   169.0    88.4  31.0     21.4
1226         3   170.3    90.4  31.2     24.7
1229         3   170.5    88.7  30.5     24.7
1243         3   171.0    93.4  31.9     26.1
1261         3   172.0    96.0  32.4     21.8
1285         3   173.0    92.1  30.8     25.9
1301         3   174.0    91.0  30.1     21.4
1323         3   175.0    98.7  32.2     25.5
1342         3   176.0    96.0  31.0     25.5
1372         3   177.9    97.0  30.6     22.8
1390         3   178.2    95.6  30.1     33.0
1422         3   180.4    97.9  30.1     11.3
1467         3   184.7   110.0  32.2     27.6
1489         3   151.8    78.6  34.1     29.7

'----------------- 그룹 4 -----------------'

      ageGroup  height  weight   BMI  bodyFat
1679         4   157.9    77.8  31.2     20.8
1690         4   164.0    87.0  32.3     23.0
1698         4   165.3    82.6  30.2     18.8
1699         4   165.5    89.9  32.8     27.1
1758         4   170.2    87.6  30.2     26.6
1759         4   170.5    91.0  31.3     30.8
1761         4   170.6    90.1  31.0     19.0
1790         4   172.3    92.0  31.0     21.4
1795         4   172.4    94.0  31.6     18.9
1866         4   176.2   103.0  33.2     27.7
1899         4   177.5    96.3  30.6     24.9
1923         4   178.6   110.4  34.6     23.3
1934         4   180.0   102.0  31.5     16.9
2026         4   156.5    81.3  33.2     45.0
2065         4   160.5    78.0  30.3     40.9

'----------------- 그룹 5 -----------------'

      ageGroup  height  weight   BMI  bodyFat
2176         5   164.0    80.6  30.0     19.1
2177         5   164.4    81.3  30.1     28.1
2187         5   166.0    90.2  32.7     25.1
2188         5   166.0    90.2  32.7     26.4
2312         5   174.8    95.1  31.1     15.3
2349         5   176.9    94.6  30.2     15.4
2574         5   163.8    88.0  32.8     40.6

'----------------- 그룹 6 -----------------'

      ageGroup  height  weight   BMI  bodyFat
2656         6   165.6    83.6  30.5     26.6
2680         6   167.0    87.0  31.2     20.0
2732         6   169.2    92.7  32.4     18.8
2836         6   175.5    94.0  30.5     17.6
2861         6   177.4    98.6  31.3     22.6
3041         6   163.8    84.7  31.6     34.4

'----------------- 그룹 7 -----------------'

      ageGroup  height  weight   BMI  bodyFat
3090         7   160.8    80.4  31.1     26.1
3097         7   162.0    92.0  35.1     24.0
3145         7   166.4    86.7  31.3     29.2
3193         7   169.6    89.7  31.2     19.4
3202         7   170.0    93.0  32.2     22.5
3207         7   170.4    88.1  30.3     26.0
3233         7   172.0    90.1  30.5     29.9
3234         7   172.0    90.4  30.6     25.4
3235         7   172.0    92.3  31.2     26.2
3383         7   155.0    83.0  34.5     40.9
3386         7   155.6    80.4  33.2     35.0
3453         7   162.8    86.6  32.7     32.4

'----------------- 그룹 8 -----------------'

      ageGroup  height  weight   BMI  bodyFat
3558         8   167.6    85.1  30.3     21.5
3643         8   173.6    94.6  31.4     21.0
3693         8   150.8    70.3  30.9     37.6
3719         8   153.5    74.0  31.4     30.3
3749         8   156.0    87.0  35.7     26.5
3759         8   157.0    75.4  30.6     20.9
3798         8   160.5    86.2  33.5     40.8
3822         8   163.1    93.8  35.3     40.5

'----------------- 그룹 9 -----------------'

      ageGroup  height  weight   BMI  bodyFat
3898         9   168.0    90.0  31.9     32.5
3958         9   150.4    72.4  32.0     31.9
3969         9   152.6    75.8  32.6     38.8
3981         9   154.2    71.6  30.1     40.0
3992         9   156.0    73.0  30.0     43.4

### (6) (5)그룹에 대한 요약 통계

In [7]:
r1 = Group.agg(['sum', 'mean', 'std'])
display(r1)

          height                         weight                           BMI  \
             sum        mean        std     sum        mean        std    sum
ageGroup
1         2602.8  173.520000   5.612512  1440.2   96.013333   9.391247  477.6
2         1761.5  176.150000   9.441898  1007.4  100.740000  12.347667  323.6
3         4314.7  165.950000  10.123132  2324.9   89.419231   8.596140  845.6
4         2538.0  169.200000   7.406561  1363.0   90.866667   9.322221  475.0
5         1175.9  167.985714   5.477965   620.0   88.571429   5.788124  219.6
6         1018.5  169.750000   5.514980   540.6   90.100000   5.920135  187.5
7         1988.6  165.716667   6.309853  1052.7   87.725000   4.429473  383.9
8         1282.1  160.262500   7.596228   666.4   83.300000   9.111845  259.1
9          781.2  156.240000   6.889702   382.8   76.560000   7.677760  156.6

                              bodyFat
               mean       std     sum       mean       std
ageGroup
1         31.840000  1.768696   389.6  25.973333  5.112515
2         32.360000  1.404912   287.8  28.780000  5.169741
3         32.523077  2.592807   581.2  22.353846  5.287512
4         31.666667  1.297617   385.1  25.673333  8.056361
5         31.371429  1.323775   170.0  24.285714  8.873449
6         31.250000  0.717635   140.0  23.333333  6.296242
7         31.991667  1.581402   337.0  28.083333  5.858612
8         32.387500  2.151702   239.1  29.887500  8.725568
9         31.320000  1.190378   186.6  37.320000  4.973630

### (7) 남녀 각각 20명씩 추출하여 하나의 데이터 프레임으로 결합 , 요약통계확인

In [8]:
M=df[df.sex==1].sample(n=20)
F=df[df.sex==2].sample(n=20)
MF=M.append(F)
display("------- 남녀 20명 추출후 데이터 프레임 결합 --------",MF)

print("------------------------ 요약 통계 확인 ------------------------")
MF.describe()

'------- 남녀 20명 추출후 데이터 프레임 결합 --------'

      ageGroup  sex  height  weight   BMI  bodyFat
2852         6    1   176.5    71.7  23.0     23.7
3292         7    1   177.6    85.3  27.0     27.9
984          2    1   183.0    70.6  21.1     16.6
189          1    1   173.0    70.8  23.7     14.5
1706         4    1   166.9    65.3  23.4     15.0
3086         7    1   160.0    59.0  23.0     12.5
435          1    1   184.5    77.2  22.7     12.3
20           1    1   166.0    64.0  23.2     13.1
2298         5    1   174.0    70.0  23.1     14.1
2237         5    1   170.9    69.5  23.8     10.7
2808         6    1   173.8    75.1  24.9     19.6
3658         8    1   175.5    78.6  25.5     31.0
2744         6    1   170.0    67.1  23.2     10.5
3862         9    1   162.4    70.4  26.7     19.2
371          1    1   180.0    76.4  23.6     12.7
234          1    1   174.6    64.5  21.2     14.0
770          2    1   169.0    67.8  23.7     18.7
3111         7    1   163.9    63.9  23.8     22.8
2686         6    1   167.8    66.2  23.5     19.4
2267         5    1   172.5    77.4  26.0     23.2
1490         3    2   152.4    50.0  21.5     32.5
3972         9    2   153.0    61.0  26.1     21.2
2920         6    2   152.1    58.0  25.1     16.0
2584         5    2   164.1    61.7  22.9     25.2
637          1    2   163.5    53.1  19.9     25.0
2095         4    2   162.1    50.5  19.2     19.1
486          1    2   155.5    51.5  21.3     23.3
3951         9    2   149.4    66.1  29.6     32.0
508          1    2   157.6    53.3  21.5     26.0
2145         4    2   167.2    61.4  22.0     32.3
708          1    2   168.3    58.1  20.5     25.3
2489         5    2   158.0    64.3  25.8     28.2
3360         7    2   154.0    51.0  21.5     22.4
673          1    2   165.5    54.1  19.8     28.7
3425         7    2   160.0    54.0  21.1     15.9
650          1    2   164.0    54.9  20.4     18.5
3364         7    2   154.0    65.1  27.4     19.2
2981         6    2   158.1    57.3  22.9     20.7
3481         7    2   167.2    64.3  23.0     25.0
1550         3    2   160.0    55.0  21.5     22.4

------------------------ 요약 통계 확인 ------------------------

        ageGroup       sex      height     weight        BMI    bodyFat
count  40.000000  40.00000   40.000000  40.000000  40.000000  40.000000
mean    4.450000   1.50000  165.697500  63.887500  23.227500  20.760000
std     2.698052   0.50637    8.890458   8.843981   2.293468   6.247412
min     1.000000   1.00000  149.400000  50.000000  19.200000  10.500000
25%     1.000000   1.00000  159.525000  56.725000  21.500000  15.675000
50%     5.000000   1.50000  165.750000  64.300000  23.050000  20.150000
75%     7.000000   2.00000  172.625000  70.100000  24.075000  25.050000
max     9.000000   2.00000  184.500000  85.300000  29.600000  32.500000